:root{
   --purple-100:#DBD1FC;
   --purple-100:#7551DC; 
   --yellow-100:#F9EEE2;
   --yellow-500:#FFCC6A; 
   --black:#121212; 

   --spc-500:40px;
   --spc-400:32px;
   --spc-300:24px;
   --spc-200:16px;
   --spc-100:8px;
}


