.dm-sans-500 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.text-preset-1 {
    font-size: 62px;
    line-height: 93.5%;
    letter-spacing: -3px;
}

.text-preset-2 {
    font-size: 40px;
    line-height: 90%;
    letter-spacing: -2px;
}

.text-preset-3 {
    font-size: 32px;
    line-height: 87.5%;
    letter-spacing: -2px;
}

.text-preset-4 {
    font-size: 18px;
    line-height: 111%;
    letter-spacing: 0px;
}

.container {
    margin: 30px auto;
    width: 95%;

}

.statistical-summary {
    background-color: var(--purple-500);
    border-radius: 10px;
}

.statistical-summary-wrapper {
    padding: var(--spc-500);
    text-align: center;
}


.statistical-summary-wrapper > p:first-child {
    margin-bottom: 0px;
}



.statistical-summary{
  
} 

.statistical-summary:first-child {
    color: white;
    width: fit-content;
    margin: 0px;

}

.ten-faster-txt {
    color: var(--yellow-500);
}

.faster-txt {
    font-style: italic;
}

.five-star-img-container{
    margin-top: var(--spc-300); 
}

.five-star-img-container>img {
    width: 100%; 
}



.statistical-summary:last-child {}


.platform-manager{
    background-color: var(--white);
    border-radius: 10px;
}

aside > img{
    width: 100%;
}

.platform-manager{
    margin-top:var(--spc-400);
}

.platform-manager-content-wrapper{
    padding:10px;
}

.posting-schedule{
    background-color: var(--yellow-500);
}