.dm-sans-500 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.text-preset-1 {
    font-size: 62px;
    line-height: 93.5%;
    letter-spacing: -3px;
}

.text-preset-2 {
    font-size: 40px;
    line-height: 90%;
    letter-spacing: -2px;
}

.text-preset-3 {
    font-size: 32px;
    line-height: 87.5%;
    letter-spacing: -2px;
}

.text-preset-4 {
    font-size: 18px;
    line-height: 111%;
    letter-spacing: 0px;
}